# last modified 2016-12-14
#alias pylclean='rm tests/pyret/main2.jarr tests/type-check/main.jarr tests/compiled/*.js'
alias ..='cd ..'
alias .2='..;..'
alias .3='.2;..'
alias .4='.3;..'
alias .5='.4;..'
alias 1='fg %1'
alias 2='fg %2'
alias 3='fg %3'
alias 3restart='sudo shutdown -r now'
alias 3shutdown='sudo shutdown -h now'
alias 7up='svn up'
alias add-apt-repository=apt-add-repository
alias adoc=asciidoctor
alias adocr='link-reveal.js;adoc -T ~/gh/asciidoctor-reveal.js/templates/slim'
alias adocss='TEMP() { s=$1; shift; adoc -a stylesheet=~/gh/asciidoctor-stylesheet-factory/stylesheets/$s.css "$@"; }; TEMP'
alias aepub='asciidoctor-epub3 -D ~/kindlelib'
alias aman='adoc -b manpage'
alias apt-add-repository='sudo apt-add-repository'
alias aspellc='TEMP() { cat "$@"|aspell -a|grep "^&"|sed -e "s:^&\s*\(\S\+\).*:\1:"|sort -u; unset -f TEMP; }; TEMP'
alias b='htm;cd bee'
alias bb='cd;cd bb'
alias bdir='tmp;cd backup'
alias bin='cd;cd bin'
alias bt='b;cd tmp'
alias c=clear
alias calchelp='cd /usr/share/calc/help'
alias cd..='cd ..'
alias cdarrb='pyl;cd src/arr/base'
alias cdarrc='pyl;cd src/arr/compiler'
alias cdarrt='pyl;cd src/arr/trove'
alias cdjsb='pyl;cd src/js/base'
alias cdjst='pylsrc;cd js/trove'
alias cdtests='pyl;cd tests/pyret/tests'
alias cgitpush='git commit -a -m...;gitpush'
alias chez=/usr/local/bin/scheme
alias chezinstall='gh;cd ChezScheme;make distclean;./configure --installprefix=/usr/local --installman=/usr/local/share/man;make;sudo make install'
alias cp='cp -p'
alias cpo-ensure-env='cpo;test -e .env || cp -p ~/Dropbox/env.cpo.google .env'
alias cpo='htm;cd code.pyret.org'
alias cr=google-chrome
alias cur='htm;cd current'
alias cvonfigure='gh;cd vim;make clean;./configure --disable-netbeans'
alias cx='chmod +x'
alias d3min=':'
alias dateindia='TZ=Asia/Calcutta date'
alias datepacific='TZ=US/Pacific date'
alias dell='ssh ds26gte@dastal'
alias di=diff
alias diff=colordiff
alias dnld='cd;cd downloads'
alias do-release-upgrade='sudo do-release-upgrade'
alias docx='txt2page -Tdocx'
alias doo='cpo;cgitpush;cpo-heroku spyret;spyjs'
alias dotf='gh;cd dotfiles'
alias dvimf='gh;cd dotfiles/.vim/plugin'
alias dvltests='cd;~/dvl/tests'
alias e4t='gh;cd eval4tex'
alias e4tt='e4t;cd tmp'
alias ei=/usr/bin/vi
alias erlce='erlc -o ../ebin'
alias erllib='htm;cd erllib'
alias excel=localc
alias fang='ssh ds26gte@thefang'
alias finished='mpg123 ~/public_html/alice-parker/Sorrow\ and\ Gladness.mp3'
alias fstart='cpo-ensure-env;foreman start'
alias g2p='gh;cd troff2page'
alias g2pj='gh;cd troff2paje'
alias g2pm='g2p;cd tmac'
alias g=troff2page
alias gdi='git diff'
alias getpyl='git clone https://github.com/brownplt/pyret-lang'
alias getwescheme='htm;rm -fr wescheme2012;git clone https://github.com/bootstrapworld/wescheme2012;cd wescheme2012;git submodule init;git submodule update'
alias gfm='TEMP() { g=${1%.*}; pandoc -f markdown_github-hard_line_breaks-raw_html+footnotes -t html5 -c ~/default.css -s -o $g.html $1; unset -f TEMP; }; TEMP'
alias gh='cd;cd gh'
alias ghas='gh;cd asciidoctor'
alias ghbin='dotf;cd bin'
alias ghvim='gh;cd vim'
alias ginfo='\info --vi-keys'
alias gio='gh;cd ds26gte.github.io'
alias gios='gio;cd spyret'
alias gitb='git branch'
alias gitpush='git push origin $(git rev-parse --abbrev-ref HEAD)'
alias gl='cd;cd gl'
alias groffinstall='gh;cd groff;./bootstrap;./configure;make;sudo make install'
alias h=history
alias hspellc='TEMP() { cat "$@"|hunspell|grep "^&"|sed -e "s:^&\s*\(\S\+\).*:\1:"|sort -u; unset -f TEMP; }; TEMP'
alias htm='cd;cd public_html'
alias htmp='htm;cd tmp'
alias htmpb='htm;cd tmpb'
alias htmpcpo='htmp;cd code.pyret.org'
alias htmppyl='htmp;cd pyret-lang'
alias iv=vi
alias j=jobs
alias k='kill -9'
alias konv='cd /var/lib/gems/2.1.0/gems/asciidoctor-1.5.3/lib/asciidoctor/converter'
alias l.='ls -d .*'
alias l='ls -l'
alias la='ls -Ad .*'
alias latex=lualatex
alias lenovo='ssh ds26gte@dasneue'
alias link-reveal.js='test -e reveal.js || ln -sf ~/gh/reveal.js'
alias lo=lowriter
alias longit='ssh ds26gte@longitude'
alias ls-adoc-css='ls ~/gh/asciidoctor-stylesheet-factory/stylesheets/*.css|sed -e "s/^.*\/\(.*\)\.css$/\1/"'
alias ls='ls --color=auto -F'
alias ly=lynx
alias lynx='COLUMNS=80 lynx -editor=vim -vikeys'
alias m=more
alias man1='cd;cd man/man1'
alias man7='cd;cd man/man7'
alias md=mkdir
alias meas='bc ~/units.bc'
alias merg='mergedir ../..;prun'
alias minc='(printf "%.2f\n" $(echo $(cat|wc -w)/$(wordsperminute)|bc -l)) <'
alias mkhcpo='htm;rm -fr code.pyret.org;git clone https://github.com/brownplt/code.pyret.org;cd code.pyret.org;git checkout horizon;cp ~/Dropbox/env.cpo .env;git submodule init;git submodule update;foreman run npm install;foreman start'
alias mkmcpo='htm;cd ds26gte;rm -fr code.pyret.org;git clone https://github.com/ds26gte/code.pyret.org;cd code.pyret.org;cp .env.example .env;git submodule init;git submodule update;foreman run npm install;foreman start'
alias mkpcpo='htm;cd ds26gte;rm -fr code.pyret.org;git clone https://github.com/ds26gte/code.pyret.org;cd code.pyret.org;git checkout horizon;cp .env.example .env;git submodule init;git submodule update;foreman run npm install;foreman start'
alias mkscpo='htm;cd ds26gte/code.pyret.org;cp .env.example .env;git submodule init;git submodule update;foreman run npm install;foreman start'
alias mkwcpo='htm;cd ds26gte;rm -fr code.pyret.org;git clone https://github.com/ds26gte/code.pyret.org;cd code.pyret.org;git checkout spyret;cp .env.example .env;git submodule init;git submodule update;foreman run npm install;foreman start'
alias mo=more
alias moby='asciidoctor-epub3 -D ~/kindlelib -a ebook-format=kf8'
alias more=less
alias mp3='mplayer -loop 0 -playlist playlist'
alias mpca='groff -U -mpca'
alias mytmac='cd;cd groffinputs/tmac'
alias n24h='gh;cd nodejsbook.io.examples'
alias nuhi='cpo;heroku local:run npm start'
alias nupmake='pyl;pylclean;rmr node_modules;make clean;make test-clean;npm install;make;make test;finished'
alias o2=opmac2page
alias oldd3min='(pyl;cd node_modules/d3;ln -sf index.js d3.min.js)'
alias osubgrade='ubgrade;sudo update-manager -d'
alias p='cd ..'
alias paideia='man paideia'
alias panslide='TEMP() { g=${1%.*}; pandoc -f markdown-line_blocks-raw_html-subscript-superscript+autolink_bare_uris -t revealjs -V revealjs-url:$HOME/.pandoc/reveal.js -H $HOME/.pandoc/revealjsfont.css -o $g.html $1; unset -f TEMP; }; TEMP'
alias pca='gh;cd mpca'
alias ping='ping -c 5'
alias pp='p;p'
alias ppp='pp;p'
alias pppp='pp;pp'
alias preg='gh;cd pregexp'
alias pregt='preg;cd tmp'
alias prun='prunedir ../..'
alias pw=pwd
alias py='node $PYRETHOME/build/phase1/main-wrapper.js'
alias pyboot='(pyl;make new-bootstrap)'
alias pycr='cr $PYRETHOME/src/web/repl.html'
alias pyhttp='pyl;python -m SimpleHTTPServer'
alias pyimake='(pyl;make install;make)'
alias pyl='cd $PYRETHOME'
alias pylclean='pyl;rm tests/pyret/main2.jarr tests/type-check/main.jarr'
alias pylsrc='pyl;cd src'
alias pym='(pyl;make)'
alias pymake='pyl;pylclean;rm -fr node_modules;make clean;make install;make;make all-pyret-test;finished'
alias pymakeall='pyl;rm -fr node_modules;make clean;make install;make;make new-bootstrap;make test;finished'
alias pymaketest='pyl;make clean;make;make test;finished'
alias pymaketestold='pyl;rm -fr node_modules;make clean;make install;make;make test;finished'
alias pymkdoc='(pyl;make docs)'
alias pymok='pyl;make;make test;finished'
alias pymOLD='(pyl;make);finished'
alias pyok='pyl;make test;finished'
alias pyph0='pyl;cd build/phase0'
alias pyqmake='pyl;pylclean;rmr node_modules;make clean;make install;make;finished'
alias pyro2='pym;spyro2'
alias pyro='pym;spyro'
alias pys='pyl;cd docs/written/builtin'
alias pysmake='(pys;p;make)'
alias pytestnum='(cdtests;py test-numbers.arr;py test-roughnum.arr;py test-complex.arr;py test-within.arr;py test-adaptive-simpson.arr)'
alias pythttp='python -m SimpleHTTPServer'
alias pyw='htm;cd pyret-lang.wiki'
alias qpy='spykill;htm;python -m SimpleHTTPServer 8000'
alias realias='. ~/.aliases'
alias rediskill='kill -9 $(rediswatch|sed -e '\''s/^\S\+\s\+\(\S\+\).*/\1/'\'')'
alias redistart2='~/gh/redis-3*/src/redis-server'
alias redistart='~/gh/redis-3*/src/redis-server &'
alias rediswatch='ps -ef|grep -i "redis-serve[r]"'
alias remakespyret='cpo;~/bin/cpo-heroku spyret;finished'
alias rmr='rm -fr'
alias sbclinstall='gh;cd sbcl;sh make.sh;(cd tests && sh ./run-tests.sh);(cd doc/manual && make);sudo sh install.sh'
alias scmvi='gh;cd scmindent'
alias seagate='cd /media/ds26gte/S*'
alias sl=ls
alias sos='cd;cd sos'
alias spion='(pyhttp &);startcpo'
alias spycol='cpo;cd src/web/collections'
alias spycolt='spycol;cd test'
alias spygoo='spyjs;cd google-apis'
alias spyjs='cpo;cd src/web/js'
alias spyjst='spyjs;cd trove'
alias spykill='kill -9 $(spywatch|sed -e '\''s/^\S\+\s\+\(\S\+\).*/\1/'\'')'
alias spyro1='(spykill; pyhttp & sleep 2; startcpo)'
alias spyro2='(spykill; redistart2 & sleep 2; pyhttp & sleep 2; startcpo)'
alias spyro3=newspy3
alias spyro=newspy
alias spywatch='ps -ef|grep -i "\(python\|foreman:\|node\|redis-server\) "'
alias startcpo='cpo-ensure-env;rm -fr build node_modules;git submodule init;git submodule update;foreman run npm install;foreman start'
alias sxl='gh;cd scmxlate'
alias sxlt='sxl;cd tmp'
alias t1=tex2page
alias t2=tex2page.lisp
alias t2p='gh;cd tex2page'
alias t2pd='t2p;cd dialects'
alias t3p='gh;cd txt2page'
alias t3pe='t3p;cd eg'
alias t3pt='t3p;cd tmac'
alias t8=texdocx
alias t=t2
alias testrn='py $PYRETHOME/tests/pyret/tests/test-roughnum.arr'
alias tex=xetex
alias texmf='cd;cd texmf/tex/'
alias tma='htm;cd toastmasters'
alias tmac='cd /usr/share/groff/current/tmac'
alias tmp='cd;cd tmp'
alias tmspeech='gl;cd tmspeech'
alias tmux='tmux -2'
alias trf='cd;cd groffinputs/font/devps'
alias ttb='gh;cd tex-by-topic'
alias ty='gh;cd tyscheme'
alias ubgrade='sudo apt update;sudo apt upgrade;sudo apt dist-upgrade'
alias ui=uvi
alias uvi=/usr/bin/vi
alias v=view
alias vd='vi -Rd'
alias vialias='vi ~/.aliases;realias'
alias view='view -c "setl lbr sbr= nowrite"'
alias vimaf='cd;cd .config/nvim/after/plugin'
alias vimc='cd;cd .vim/colors'
alias vimd='cd;cd .config/nvim'
alias vimf='cd;cd .vim/plugin'
alias viminstall='ghvim;./configure --disable-gui --disable-netbeans --disable-nls --disable-sysmouse --disable-gpm;make;sudo make install'
alias vimp='cd;cd .vim/pack'
alias vimrt='cd /usr/local/share/vim/vim80'
alias vinfo='TEMP() { vi -c "Info $*"; unset -f TEMP; }; TEMP'
alias vip='ps -ef|grep " vi"|grep -v grep'
alias vipy='vi +Py'
alias vispy='vi +Spy'
alias vu=evince
alias wchpkg='dpkg -S'
alias weather='weather --imperial'
alias wes='htm;cd wescheme2012'
alias wescomp='wes;cd war/js/compiler'
alias wesjsnum='wes;cd war-src/js/js-runtime'
alias wesjsw='wes;cd war-src/js/js-runtime/world'
alias wesmake='wes;build-console-and-editor.rkt;ant runserver'
alias wesmz='wes;cd war/js/mzscheme-vm'
alias wessrccomp='wes;cd war-src/js/compiler'
alias wget='wget -c'
alias whathavei='aptitude versions "~i"'
alias word=lowriter
alias wordsperminute='echo 124' # 140?
source ~/.aliases.more
